<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cats</title>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Cars</a></li>
                <li><a href="/">New Car</a></li>
            </ul>
        </div>

        <div class="cats">
            <img src="/images/911_carrerat_050.jpg" alt="porsche 911">
            <h3>Pick a car, any car...</h3>
        </div>

        <div class="cats">
            <img src="/images/TAC_MY18_0010_V001.png" alt="toyota tacoma">
            <h3>On road, off road...</h3>
        </div>

        <div class="cats">
            <img src="/images/cq5dam.web.1280.1280.jpeg" alt="volkswagen golf gti">
            <h3>The original hot hatch.</h3>
        </div>
    </div>
</body>

</html>